<!-- NAVIGATION -->
<!-- This example requires Tailwind CSS v2.0+ -->
<div class="relative bg-white text-gray-600 body-font">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 z-1">
    <div
      class="flex justify-between items-center border-b-2 border-gray-100 py-6 md:justify-start md:space-x-10"
    >
      <div class="flex justify-start lg:w-0 lg:flex-1">
        <a
          href="{{ .Site.Home.RelPermalink }}"
          class="flex title-font font-medium items-center"
        >
          <span class="sr-only">{{ i18n "workflow" }}</span>
          {{ $image := resources.Get "images/logo.svg" }}
          <img
            alt="{{ .Site.Title }}"
            class="h-8 w-auto sm:h-10"
            src="{{ $image.Permalink }}"
          />
          <span class="ml-3 text-xl">{{ .Site.Title }}</span>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- END NAVIGATION -->
