<nav class="bg-gray-50 shadow">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16">
      <div class="flex">
        <div class="flex-shrink-0 flex items-center">

          <a href="{{ $.Site.BaseURL }}">
            {{ $logo := resources.Get "images/logo.svg" }}
            <img class="block lg:hidden h-8 w-auto" src="{{ $logo.Permalink }}" alt="">

            {{ $logoWithName := resources.Get "images/logo-with-name.svg" }}
            <img class="hidden lg:block h-8 w-auto" src="{{ $logoWithName.Permalink }}" alt="">
          </a>

        </div>
        <div class="hidden sm:ml-6 sm:flex">
          {{ range .Site.Menus.main }}
          {{ partial "nav/nav-link" . }}
          {{ end }}
          </div>
      </div>

      <div class="-mr-2 flex items-center sm:hidden">
        <button id="burgerBtn" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out" aria-label="Main menu" aria-expanded="false">
          <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
          <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <div class="hidden sm:hidden" id="mobileMenu">
    <div class="pt-2 pb-3">
          {{ range .Site.Menus.main }}
          {{ partial "nav/nav-mobile-link" . }}
          {{ end }}
    </div>
  </div>
</nav>
